In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

# row, colum 추가 및 삭제

In [7]:
#Series 행삭제
obj = Series(np.arange(5), index = ['a','b','c','d','e'])
print(obj)
print(obj.drop('c'))
print(obj.drop(['d','c']))

a    0
b    1
c    2
d    3
e    4
dtype: int32
a    0
b    1
d    3
e    4
dtype: int32
a    0
b    1
e    4
dtype: int32

In [15]:
#DataFrame 행,렬 삭제
data = DataFrame(np.arange(16).reshape((4,4)), index=['Ohio', 'Colorado', 'Utah','NewYork'], columns = ['one', 'two', 'three', 'four'])
print(data)
print(data.drop('Colorado'))
print(data.drop(['Colorado', 'Ohio']))
print(data.drop('two', axis=1))
print(data.drop(['two','three'], axis=1))

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15
         one  two  three  four
Ohio       0    1      2     3
Utah       8    9     10    11
NewYork   12   13     14    15
         one  two  three  four
Utah       8    9     10    11
NewYork   12   13     14    15
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
NewYork    12     14    15
          one  four
Ohio        0     3
Colorado    4     7
Utah        8    11
NewYork    12    15

# 인덱싱, 슬라이싱

## Series

In [75]:
obj = Series(np.arange(4), index=['a','b','c','d'])
print(obj)
print(obj['b'])
print(obj[1])
print(obj[2:4]) #index가 2에서 (4-1)까지 -> 2개 나옴
print(obj['b':'d']) #index가 b에서 d까지!! -> 3개 나옴
print(obj[['b','a','d']])
print(obj[obj<2])

a    0
b    1
c    2
d    3
dtype: int32
1
1
c    2
d    3
dtype: int32
b    1
c    2
d    3
dtype: int32
b    1
a    0
d    3
dtype: int32
a    0
b    1
dtype: int32

## DataFrame

In [76]:
data = DataFrame(np.arange(16).reshape((4,4)), index=['Ohio', 'Colorado', 'Utah','NewYork'], columns = ['one', 'two', 'three', 'four'])
print(data)
print('-----------------')
print(data['two'])
print('-----------------')
print(data[['two','four']])
print('-----------------')
print(data[:2])
print('-----------------')
#print(data[2]) #이건 에러 남 대신 단일 row은 ix(loc)을 사용하것
print(data.loc['Colorado'])
print('-----------------')
print(data[data['three'] > 7])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15
-----------------
Ohio         1
Colorado     5
Utah         9
NewYork     13
Name: two, dtype: int32
-----------------
          two  four
Ohio        1     3
Colorado    5     7
Utah        9    11
NewYork    13    15
-----------------
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
-----------------
one      4
two      5
three    6
four     7
Name: Colorado, dtype: int32
-----------------
         one  two  three  four
Utah       8    9     10    11
NewYork   12   13     14    15

In [47]:
print(data < 5)
print('-----------------')
print(data[data<5])
print('-----------------')
data[data<5] = 0
print(data)

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
NewYork   False  False  False  False
-----------------
          one  two  three  four
Ohio      0.0  0.0    0.0   0.0
Colorado  0.0  NaN    NaN   NaN
Utah      NaN  NaN    NaN   NaN
NewYork   NaN  NaN    NaN   NaN
-----------------
          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

In [74]:
print(data.iloc[2, 2:4]) #iloc는 숫자로만... 변수 위치를 잘 기억한다면 이게 유용할 듯 하다
print(data.iloc[2, 2:4].values)
print('-----------------')
print(data.loc['Colorado', ['two', 'three']]) #loc는 라벨로만 접근한다
print('-----------------')
print(data.ix['Colorado', [2, 1]]) #ix는 둘다 섞어서 가능하다
print('-----------------')

three    10
four     11
Name: Utah, dtype: int32
[10 11]
-----------------
two      5
three    6
Name: Colorado, dtype: int32
-----------------
three    6
two      5
Name: Colorado, dtype: int32
-----------------

# 기본 산수

In [132]:
# 평균
print(data)
print('-----------------')
print(data.mean(axis=1))
print('-----------------')
print(data.mean(axis=0))
print('-----------------')

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15
-----------------
Ohio         1.5
Colorado     5.5
Utah         9.5
NewYork     13.5
dtype: float64
-----------------
one      6.0
two      7.0
three    8.0
four     9.0
dtype: float64
-----------------

In [135]:
# sum
print(data.sum())
print('-----------------')
print(data.sum(axis=1))

one      24
two      28
three    32
four     36
dtype: int64
-----------------
Ohio         6
Colorado    22
Utah        38
NewYork     54
dtype: int64

In [140]:
# maximal index
print(data)
print('-----------------')
print(data.idxmax())
print('-----------------')
print(data.idxmax(axis=1))

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15
-----------------
one      NewYork
two      NewYork
three    NewYork
four     NewYork
dtype: object
-----------------
Ohio        four
Colorado    four
Utah        four
NewYork     four
dtype: object

In [142]:
print(data.describe()) #전체적인 통계량

             one        two      three       four
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

# 정렬, 순위

In [99]:
obj = Series(range(4), index=list('dabc'))
print(obj)
print('-----------------')
print(obj.sort_index())
print('-----------------')
print(obj.sort_values())

d    0
a    1
b    2
c    3
dtype: int32
-----------------
a    1
b    2
c    3
d    0
dtype: int32
-----------------
d    0
a    1
b    2
c    3
dtype: int32

In [117]:
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]}, index=list('bacd'))
print(frame)
print('-----------------')
print(frame.sort_index())
print('-----------------')
print(frame.sort_index(axis=1))
print('-----------------')
print(frame.sort_index(axis=1, ascending=False)) #내림차순
print('-----------------')
print(frame.sort_values(by='b')) #b 열의 값의 크기 순서대로
print('-----------------')
print(frame.sort_values(by=['a','b'])) #같이 안움직이고 따로 정렬함

   a  b
b  0  4
a  1  7
c  0 -3
d  1  2
-----------------
   a  b
a  1  7
b  0  4
c  0 -3
d  1  2
-----------------
   a  b
b  0  4
a  1  7
c  0 -3
d  1  2
-----------------
   b  a
b  4  0
a  7  1
c -3  0
d  2  1
-----------------
   a  b
c  0 -3
d  1  2
b  0  4
a  1  7
-----------------
   a  b
c  0 -3
b  0  4
d  1  2
a  1  7

In [125]:
obj = Series([7,-5,7,4,2,0,4])
print(obj)
print('-----------------')
print(obj.rank()) #value의 크기를 작은순서대로 np.argsort에 해당하는 내용 근데 동률인 경우 평균 순위 제공
print('-----------------')
print(obj.rank(method='first')) #똑같은 순위의 경우 먼저나온 녀석이 앞섬
print('-----------------')
print(obj.rank(ascending=False, method='max')) #내림 차순 + max는 동률인 경우 둘다 높은 순위로 메김 ex 공동1등이면 둘다 2등으로

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64
-----------------
0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64
-----------------
0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64
-----------------
0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [131]:
frame = DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})
print(frame)
print('-----------------')
print(frame.rank(method='min')) #행 기준
print('-----------------')
print(frame.rank(method='min', axis=1)) #열 기준

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5
-----------------
     a    b    c
0  1.0  3.0  2.0
1  3.0  4.0  3.0
2  1.0  1.0  4.0
3  3.0  2.0  1.0
-----------------
     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0