In [17]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./iris.csv')
# df = pd.read_csv('./iris.csv', header=None)
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
# df.to_csv('./연습.csv') #csv 파일저장

In [11]:
print(df.columns)
print(df.rename(columns={'class':'target'}).head())
print(df['class'].unique())

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')
   sepal length  sepal width  petal length  petal width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [16]:
print(df.loc[1])
print(df.iloc[0])
print(df[0:3])

sepal length            4.9
sepal width               3
petal length            1.4
petal width             0.2
class           Iris-setosa
Name: 1, dtype: object
sepal length            5.1
sepal width             3.5
petal length            1.4
petal width             0.2
class           Iris-setosa
Name: 0, dtype: object
   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [18]:
df['ex'] = np.NaN

In [19]:
df.dropna()

Empty DataFrame
Columns: [sepal length, sepal width, petal length, petal width, class, ex]
Index: []

In [21]:
df.fillna(value='0').head()

   sepal length  sepal width  petal length  petal width        class ex
0           5.1          3.5           1.4          0.2  Iris-setosa  0
1           4.9          3.0           1.4          0.2  Iris-setosa  0
2           4.7          3.2           1.3          0.2  Iris-setosa  0
3           4.6          3.1           1.5          0.2  Iris-setosa  0
4           5.0          3.6           1.4          0.2  Iris-setosa  0

In [33]:
df['sepal length'].values.tolist()[:5]

[5.1, 4.9, 4.7, 4.6, 5.0]

In [35]:
df.sort_values(by='sepal length').head()

    sepal length  sepal width  petal length  petal width        class  ex
13           4.3          3.0           1.1          0.1  Iris-setosa NaN
42           4.4          3.2           1.3          0.2  Iris-setosa NaN
38           4.4          3.0           1.3          0.2  Iris-setosa NaN
8            4.4          2.9           1.4          0.2  Iris-setosa NaN
41           4.5          2.3           1.3          0.3  Iris-setosa NaN