In [1]:
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
from scipy import stats

import numpy as np

### Ex0) 데이터 전처리

다음의 순서대로 전처리를 하시오

- population.csv를 불러온다
- 결측치가 있는 경우 해당 행을 삭제하시오
- Age변수에서 20세 이하와 40세 이상 범위 밖의 데이터는 제거하시오
- District.Code, Neighborhood.Code, Gender의 경우 Dummy variable로 변환하시오

In [2]:
df = pd.read_csv('./population.csv')
df.isnull().sum() #결측치 없음

idx = []
for i in df.index:
    if df['Age'][i] in ['0-4', '5-9', '10-14', '15-19','40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '>=95']:
        idx.append(i)
        
df = df.drop(index=idx)

df = pd.get_dummies(df, columns=['Gender', 'District.Code'], drop_first=True)

print(df.head())
print(len(df))

      Year District.Name  Neighborhood.Code  \
1460  2017  Ciutat Vella                  1
1461  2017  Ciutat Vella                  2
1462  2017  Ciutat Vella                  3
1463  2017  Ciutat Vella                  4
1464  2017      Eixample                  5

                          Neighborhood.Name    Age  Number  Gender_Male  \
1460                               el Raval  20-24     259            1
1461                         el Barri Gòtic  20-24      56            1
1462                         la Barceloneta  20-24      67            1
1463  Sant Pere, Santa Caterina i la Ribera  20-24     104            1
1464                          el Fort Pienc  20-24     129            1

      District.Code_2  District.Code_3  District.Code_4  District.Code_5  \
1460                0                0                0                0
1461                0                0                0                0
1462                0                0                0                0
1463                0                0                0                0
1464                1                0                0                0

      District.Code_6  District.Code_7  District.Code_8  District.Code_9  \
1460                0                0                0                0
1461                0                0                0                0
1462                0                0                0                0
1463                0                0                0                0
1464                0                0                0                0

      District.Code_10
1460                 0
1461                 0
1462                 0
1463                 0
1464                 0
14600

### Ex1) Number 변수에서 이상치를 평균에서 1.8표준편차보다 큰 값 혹은 작은 값으로 정의하자. 이에 대해 데이터에서 Number의 이상치를 제거한 후 Range(최대-최소)를 구하시오

In [3]:
mu = df['Number'].mean()
std = df['Number'].std()

idx = []
for i in df.index:
    if df['Number'][i] < (mu - 1.8*std) or df['Number'][i] > (mu + 1.8*std):
        idx.append(i)

df = df.drop(index=idx)
print("range is ",df['Number'].max() - df['Number'].min())

range is  371

### Ex2) Age의 값을 Range의 평균값으로 대체(ex 20-24면 (20+24)/2)하고, Age값과 Number사이의 상관관계를 알아보고자 한다.

Number가 3사분위수 이상인 자들에 대하여 Age와 Number의 상관계수 값을 구하시오

In [4]:
def age(str):
    return sp.mean([int(str[:2]), int(str[-2:])])

for i in df['Age'].unique():
    df['Age'][df['Age'] == i] = age(df['Age'][df['Age'] == i].iloc[0])

C:\Users\yalhl\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [ ]:
df['Number'].describe()

In [ ]:
df1 = df[df["Number"] > 189]
sp.stats.pearsonr(df1['Age'], df1['Number'])

In [ ]:
df1

### Ex3) Number가 180이상여부가 Age와 독립적인지 파악할 수 있는 가설 검정을 유의수준 5%에서 검증하고 p-value롤 계산하시오.

In [16]:
df1 = pd.get_dummies(df, columns=['Age'])
df1_1 = df1[df1["Number"]>=180]
df1_2 = df1[df1["Number"]<180]

df1_2.sum()

Year                                                          19924540
District.Name        Ciutat VellaCiutat VellaCiutat VellaEixampleEi...
Neighborhood.Code                                               408696
Neighborhood.Name    el Barri Gòticla BarcelonetaSant Pere, Santa C...
Number                                                          864780
Gender_Male                                                       4937
District.Code_2                                                    101
District.Code_3                                                   1006
District.Code_4                                                    371
District.Code_5                                                    838
District.Code_6                                                    663
District.Code_7                                                   1764
District.Code_8                                                   2405
District.Code_9                                                   1058
District.Code_10                                                  1361
Age_22.0                                                          3112
Age_27.0                                                          2593
Age_32.0                                                          2224
Age_37.0                                                          1959
dtype: object

In [17]:
con_table = [[525, 889, 1061, 1287], [3112, 2593, 2224, 1959]]

In [18]:
sp.stats.chi2_contingency(con_table)

(595.5444927453743,
 9.317107702221041e-129,
 3,
 array([[1002.37318681,  959.65450549,  905.36043956,  894.61186813],
        [2634.62681319, 2522.34549451, 2379.63956044, 2351.38813187]]))

### Ex4) Cars데이터 이용: mpg(종속변수)예측을 위해 cylinder, hp, weightlbs(입력변수)를 사용할거다. 

- 종속변수로 log10 함수를 적용한 값을 사용하여 회귀모형을 만들어라
- time-to-60 가 17초 이하인 데이터를 훈련데이터로 사용, 17초 초과인 데이터를 테스트 데이터로 사용하시오
- 선형회귀식, train, test R2계산

In [46]:
df1 = pd.read_csv('./cars.csv')
df1.columns
df1.rename(index=str, columns={'mpg':'mpg', ' cylinders':'cylinders', ' cubicinches':'cubicinches', ' hp':'hp', ' weightlbs':'weightlbs',' time-to-60': 'time-to-60',
       ' year':'year', ' brand': 'brand'}, inplace = True)
idx = []
for j in list(df1.columns):
    for i in df1[j].index:
        if df1[j][i] == ' ':
            idx.append(i)
idx

df1 = df1.drop(index=idx)
df1.head()

    mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
0  14.0          8         350  165      4209          12  1972       US.
1  31.9          4          89   71      1925          14  1980   Europe.
2  17.0          8         302  140      3449          11  1971       US.
3  15.0          8         400  150      3761          10  1971       US.
4  30.5          4          98   63      2051          17  1978       US.

In [52]:
df1['log_mpg'] = sp.log10(df1['mpg'])
df1.head()

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand,log_mpg
0,14.0,8,350,165,4209,12,1972,US.,1.146128
1,31.9,4,89,71,1925,14,1980,Europe.,1.503791
2,17.0,8,302,140,3449,11,1971,US.,1.230449
3,15.0,8,400,150,3761,10,1971,US.,1.176091
4,30.5,4,98,63,2051,17,1978,US.,1.484300

In [54]:
train = df1[df1['time-to-60'] <= 17]
test = df1[df1['time-to-60'] > 17]

In [55]:
X_train = train[['cylinders', 'hp', 'weightlbs']]
y_train = train[['log_mpg']]
X_test = test[['cylinders', 'hp', 'weightlbs']]
y_test = test[['log_mpg']]

In [56]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [57]:
print("train R2 Score is ",reg.score(X_train, y_train))
print("test R2 Score is ",reg.score(X_test, y_test))
print("Regression function is y = %f + (%f)(x_clinders) + (%f)(x_hp) +(%f)(x_weightlbs)"%(reg.intercept_[0], reg.coef_[0][0],
                                                                                    reg.coef_[0][1], reg.coef_[0][2]))

train R2 Score is  0.8075189594685002
test R2 Score is  0.48731513363434154
Regression function is y = 1.762008 + (-0.011742)(x_clinders) + (-0.000790)(x_hp) +(-0.000092)(x_weightlbs)

### Ex5) 테스트 데이터에 대한 RMSE를 계산하시오

In [59]:
def RMSE(y, yhat):
    return sp.sqrt(sp.mean(sp.square(y-yhat)))

In [60]:
RMSE(y_test, reg.predict(X_test))

array([0.08793706])

In [63]:
from sklearn.metrics import mean_squared_error
sp.sqrt(mean_squared_error(y_test, reg.predict(X_test)))

0.08793705988774528