In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [4]:
obj = Series([4, 7, -5, 3]) #1차원 배열, np.array의 느낌
print(obj) #index와 함께 value가 나옴

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
#index 지정하는 array 생성
obj2 = Series([4, 7, -5, 3], index = ['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [15]:
#Series index
print(obj2['a']) #index가 있으면 index를 넣고, 없으면 숫자로?
print(obj[2])

obj2['d'] = 6
obj2[1] = 6
obj2[['c', 'a', 'd']]

-5
-5

c    3
a   -5
d    6
dtype: int64

In [19]:
obj2[obj2>0] #numpy 처럼 연산이 가능하다~
obj2 * 2
np.exp(obj)

0      54.598150
1    1096.633158
2       0.006738
3      20.085537
dtype: float64

In [22]:
'b' in obj2 #index를 사전처럼 사용할 수 있다
'e' in obj2

False

In [25]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
obj3 = Series(sdata)
obj3 #사전 객체의 index가 알파벳 순서로 들어감

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [26]:
states = ['California', 'Ohio', 'Oregon','Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [29]:
pd.isnull(obj4)# na값이 있는지?
pd.notnull(obj4)
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [33]:
obj3 + obj4 #index에 있는 값 끼리 연산이 가능한데, 공통 index만 연산하고 나머지는 nan값 배출

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [35]:
obj4.name = 'populataion' #series에 이름을 붙일 수 있음
obj4.index.name = 'state' #index에도 이름을 붙일 수 있음
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: populataion, dtype: float64

# DataFrame

In [ ]:
data =