In [1]:
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
from scipy import stats

import numpy as np

## Ex0) 전처리

- sex, marital, number 변수를 모두 dummy 변수로

In [2]:
df = pd.read_csv('./baby.csv')
df.isnull().sum()

id           0
pluralty     0
outcome      0
date         0
gestation    0
sex          0
wt           0
parity       0
race         0
age          0
ed           0
ht           0
mwt          0
drace        0
dage         0
ded          0
dht          0
dwt          0
marital      0
inc          0
smoke        0
time         0
number       0
dtype: int64

In [3]:
df = pd.get_dummies(df, columns=['sex', 'marital', 'number'])
df.head()

,id,pluralty,outcome,date,gestation,wt,parity,race,age,ed,...,number_1,number_2,number_3,number_4,number_5,number_6,number_7,number_8,number_9,number_98
0,15,5,1,1411,284,120,1,8,27,5,...,0,0,0,0,0,0,0,0,0,0
1,20,5,1,1499,282,113,2,0,33,5,...,0,0,0,0,0,0,0,0,0,0
2,58,5,1,1576,279,128,1,0,28,2,...,1,0,0,0,0,0,0,0,0,0
3,61,5,1,1504,999,123,2,0,36,5,...,0,0,0,0,1,0,0,0,0,0
4,72,5,1,1425,282,108,1,0,23,5,...,0,0,0,0,1,0,0,0,0,0

## Ex1)
- Age가 33세 이상이면 danger(1), 미만이면 Nondanger(0)의 새 변수 danger로 만든다 
- mwt(엄마의 체중)변수에서 이상치를 제거하시오. 이상치는 Q1을 기준으로 IQR(Q3-Q1)의 1.5배보다 작은 값들과 Q3를 기준으로 IQR의 1.5보다 큰 값으로 정의한다

In [4]:
df['danger'] = 1
df['danger'][ df['age'] < 33] = 0
# df['danger'] = 1* (df['age']>=33)
df.head()

C:\Users\yalhl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id,pluralty,outcome,date,gestation,wt,parity,race,age,ed,...,number_2,number_3,number_4,number_5,number_6,number_7,number_8,number_9,number_98,danger
0,15,5,1,1411,284,120,1,8,27,5,...,0,0,0,0,0,0,0,0,0,0
1,20,5,1,1499,282,113,2,0,33,5,...,0,0,0,0,0,0,0,0,0,1
2,58,5,1,1576,279,128,1,0,28,2,...,0,0,0,0,0,0,0,0,0,0
3,61,5,1,1504,999,123,2,0,36,5,...,0,0,0,1,0,0,0,0,0,1
4,72,5,1,1425,282,108,1,0,23,5,...,0,0,0,1,0,0,0,0,0,0

In [5]:
df['mwt'].describe()

count    1236.000000
mean      153.976537
std       147.872525
min        87.000000
25%       115.000000
50%       126.000000
75%       140.000000
max       999.000000
Name: mwt, dtype: float64

In [6]:
IQR = 140 - 115
idx = []
for i in df.index:
    if df['mwt'][i] < 115 - 1.5*IQR or df['mwt'][i] > 140 + 1.5*IQR:
        idx.append(i)
idx

[3,
 6,
 23,
 39,
 42,
 85,
 88,
 102,
 110,
 113,
 117,
 149,
 152,
 154,
 158,
 162,
 181,
 183,
 185,
 193,
 204,
 222,
 230,
 240,
 254,
 287,
 311,
 337,
 352,
 363,
 399,
 411,
 426,
 439,
 443,
 477,
 478,
 481,
 508,
 512,
 522,
 525,
 528,
 563,
 608,
 622,
 632,
 648,
 653,
 698,
 723,
 733,
 747,
 753,
 762,
 849,
 858,
 859,
 865,
 874,
 882,
 888,
 924,
 935,
 1008,
 1013,
 1021,
 1044,
 1148,
 1167,
 1177,
 1190,
 1192,
 1219]

In [8]:
df = df.drop(index= idx)

In [10]:
len(df)

1162

## Ex2) 
- ID number가 1000이하인걸 train set으로 1000초과인걸 test set으로 사용하고, target을 outcome_new(생존1, 죽음0)으로 하여 모든 입력변수(id, pluralty, outcome 제외)를 사용한 로지스틱 회귀 모형을 만드시오
- train, test의 acc를 각각 구하시오

In [33]:
df1 = pd.read_csv('./new_baby.csv')
df1.head()

,id,pluralty,outcome,date,gestation,wt,parity,race,age,ed,...,number_3,number_4,number_5,number_6,number_7,number_8,number_9,number_98,danger,outcome_new
0,15,5,1,1411,284,120,1,8,27,5,...,0,0,0,0,0,0,0,0,0,0
1,20,5,1,1499,282,113,2,0,33,5,...,0,0,0,0,0,0,0,0,1,0
2,58,5,1,1576,279,128,1,0,28,2,...,0,0,0,0,0,0,0,0,0,1
3,72,5,1,1425,282,108,1,0,23,5,...,0,0,1,0,0,0,0,0,0,1
4,100,5,1,1673,286,136,4,0,25,2,...,0,0,0,0,0,0,0,0,0,0

In [34]:
test = df1[df1['id'] > 1000]
X_test = test[['date', 'gestation', 'wt', 'parity',
       'race', 'age', 'ed', 'ht', 'mwt', 'drace', 'dage', 'ded', 'dht', 'dwt',
       'inc', 'smoke', 'time', 'sex_1', 'marital_0', 'marital_1', 'marital_2',
       'marital_3', 'marital_5', 'number_0', 'number_1', 'number_2',
       'number_3', 'number_4', 'number_5', 'number_6', 'number_7', 'number_8',
       'number_9', 'number_98', 'danger']]
y_test = test[['outcome_new']]

In [35]:
train = df1[df1['id']<=1000]
X_train = train[['date', 'gestation', 'wt', 'parity',
       'race', 'age', 'ed', 'ht', 'mwt', 'drace', 'dage', 'ded', 'dht', 'dwt',
       'inc', 'smoke', 'time', 'sex_1', 'marital_0', 'marital_1', 'marital_2',
       'marital_3', 'marital_5', 'number_0', 'number_1', 'number_2',
       'number_3', 'number_4', 'number_5', 'number_6', 'number_7', 'number_8',
       'number_9', 'number_98', 'danger']]
y_train = train[['outcome_new']]

In [36]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, y_train)

C:\Users\yalhl\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\yalhl\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [37]:
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

0.9811320754716981
0.8458070333633905

## Ex3)
- ed(엄마의 교육정도)에 따라 신생아가 생존할 오즈(Odds)는 몇 배 줄어드는가?

In [46]:
sp.exp(clf.coef_[0][6])

0.6980635258282966

## Ex4)
분류를 위한 경계값을 0.02로 정의 했을 때 분류기의 precision을 구하시오

In [ ]:
clf.coef_[0] * X_test).sum(axis=1) + clf.intercept_

In [103]:
yhat_new = 1*((clf.coef_[0] * X_test).sum(axis=1) + clf.intercept_ > 0.1)

In [104]:
yhat_new = pd.DataFrame(yhat_new)

In [105]:
from sklearn.metrics import precision_score
print(precision_score(y_test, yhat_new))

0.8317073170731707

In [94]:
yhat_1 = 1*((clf.coef_[0] * X_test).sum(axis=1) + clf.intercept_ > 0)

In [99]:
print(precision_score(y_test, clf.predict(X_test)))

0.8325242718446602

## Ex5)
테스트 데이터에 대해 분류기의 AUC-ROC 스코어를 계산하시오

In [70]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, clf.predict(X_test)))

0.8334354271016653